@import "libs/normalize";
@import "libs/animate";
@import "libs/fonts";

@import "base/variables";
@import "base/mixins";

* {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 900px;

	padding: 0 15px;

	outline: 1px solid red;
}

.activities {
	@include reset-list;
}

@import "blocks/header";