.counter {
	&__output {
		height: 100px;
		width: 100%;
		margin-top: 20px;
		border: 1px solid #bbb;

		display: flex;

		&_accum {
			align-items: flex-end;
		}

		&-item {
			display: block;
			background-color: yellowgreen;

			height: 100%;
			width: 30px;

			&_accum {
				background-color: orange;
				height: 5px;
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: 100%;
			}
		}
	}
}