.main {
	&__items {
		display: flex;
		align-items: flex-start;

		&_bottom {
			margin-top: 20px;
			justify-content: flex-start;

		}
	}

	&__item {
		flex: 0 0 35%;
		margin-right: 40px;

		&:first-child {
			flex: 0 0 200px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__activities {
		font-size: 18px;
		line-height: 24px;

		p {
			padding: 10px;
		}

		&_history {
			font-size: 14px;
			line-height: 20px;
			display: grid;
			grid-template-columns: 1px 50px 1fr 1px 1px 70px;
		}
	}
}

.timer-in-progress {
	margin-left: 20px;
}