.main {
	&__items {
		display: flex;

		align-items: flex-start;

		justify-content: space-between;

		&_bottom {
			margin-top: 20px;
			justify-content: flex-start;

		}
	}

	&__activities {
		font-size: 18px;
		line-height: 28px;

		p {
			padding: 10px;
		}
	}
}